/* This property references the header */
.from {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  color: #df1495;
}

/* This property references the <p> tag */
.seaGirt {
  color: black;
  width: 30%;
  border: 3px solid #df1495;
  padding: 2em;
  margin-top: 20px;
  margin-right: 110px;
  float: right;
}

/* This property refences the joe leone's photo */
.Italian {
  width: 60%;
  margin-top: 20px;
  float: left 60;
  margin: right 40px;
}

/* This property references the smile photo */
.smile {
  width: 100%;
}
